[submodule "components/core/submodules/yaml-cpp"]
	path = components/core/submodules/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "tools/yscope-dev-utils"]
	path = tools/yscope-dev-utils
	url = https://github.com/y-scope/yscope-dev-utils.git
[submodule "components/core/submodules/outcome"]
	path = components/core/submodules/outcome
	url = https://github.com/ned14/outcome.git
[submodule "components/core/submodules/utfcpp"]
	path = components/core/submodules/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "components/core/submodules/ystdlib-cpp"]
	path = components/core/submodules/ystdlib-cpp
	url = https://github.com/y-scope/ystdlib-cpp.git
